@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200,300&display=swap');
.App{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(90deg, rgba(9,103,129,1) 16%, rgba(11,96,134,1) 92%);

}

.heading{
    text-transform: uppercase;
    font-size: 40px;
    margin: 2rem 0;
    color: rgb(205, 195, 195);
    z-index: 1;
    text-align: center;
}

@media (max-width: 800px) {
    .heading{
        margin: 15px 0;
        font-size: 35px; 
    }
}